body {
    font-family: 'Courier New', Courier, monospace;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
}
.contain {
    width: 10%;
    height: 10vh;
    background-color: brown;
}
